// Variables

$proxicle_light_pink:   #fff9f9;
$proxicle_medium_light_pink: #FFDCDC;
$proxicle_medium_pink:  #B76868;
$proxicle_dark_pink:    #6B1212;

$proxicle_light_brown:      #FFECDC;
$proxicle_medium_brown:     #B78C68;
$proxicle_dark_brown:       #6B3B12;
$proxicle_dark_dark_brown:  #4c1f08;

$proxicle_light_green:  #B3D0B3;
$proxicle_medium_green: #539253;
$proxicle_dark_green:   #0E560E;

$proxicle_light_light_blue: #DEEBEB;
$proxicle_light_blue:   #8AA0A0;
$proxicle_medium_blue:  #3E6E6E;
$proxicle_dark_blue:    #0B4040;

body {
  background: $proxicle_light_pink;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.logo-container {
  margin: 15px 0 25px;
  text-align: center;
}

.logo-img {
  height: 50px;
}

h1 {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  vertical-align: top;
  font-family: Dosis, sans-serif;
  font-size: 2.7em;
}

li {
  font-family: 'Source Code Pro', monospace;
}



/*********************************************************************************
 *
 *  Buttons
 *
 *********************************************************************************/

.btn {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    background: $proxicle_medium_light_pink;
    cursor: pointer;
  }
}

.btn-red {
  color: $proxicle_dark_pink;
  background: $proxicle_light_pink;
  border: 1px solid $proxicle_dark_pink;

  &:hover {
    background: $proxicle_medium_light_pink;
  }
}

.btn-green {
  color: $proxicle_dark_green;
  background: $proxicle_light_green;
  border: 1px solid $proxicle_dark_green;

  &:hover {
    background: $proxicle_medium_green;
  }
}

.btn-brown {
  color: $proxicle_dark_brown;
  background: $proxicle_light_brown;
  border: 1px solid $proxicle_dark_brown;

  &:hover {
    background: $proxicle_medium_brown;
  }
}

.btn-inline {
  margin: 0 10px 0 0;
}


/*********************************************************************************
 *
 *  Links
 *
 *********************************************************************************/

.link {
  &:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}

/*********************************************************************************
 *
 *  Instance Selector
 *
 *********************************************************************************/

.instance-selector {
  select {
    display: block;
    margin: auto;
  }
}



/*********************************************************************************
 *
 *  Route List
 *
 *********************************************************************************/

.route-label {
  @extend .link;
}

button {
  margin: 0 10px;
}


.route-details {

  margin: 0 0 15px;
  color: $proxicle_dark_brown;
  font-size: 13px;
  border-bottom: 1px solid $proxicle_dark_brown;

  table {
    width: 100%;

    tr {
      td {
        &:first-of-type {
          min-width: 140px;
          width: 140px;
          font-style: italic;
          font-weight: bold;
          vertical-align: top;
        }

        &:last-of-type {
          color: $proxicle_dark_green;
        }
      }
    }
  }
}

.route-details-controls {
  margin: 10px 0;
}


/*********************************************************************************
 *
 *  Form Elements
 *
 *********************************************************************************/

.text-input {
  font: 11px 'Source Code Pro', monospace;
  tab-size: 2;
}

textarea, pre {
  @extend .text-input;
  width: 100%;
}

input[type=text] {
  @extend .text-input;
}


/*********************************************************************************
 *
 *  Visual State
 *
 *********************************************************************************/

.hidden {
  display: none;
}


/*********************************************************************************
 *
 *  Errors
 *
 *********************************************************************************/

.error {
  color: red;
}


/*********************************************************************************
 *
 *  JSON Highlighting
 *
 *********************************************************************************/

.json-markup {
  line-height: 17px;
  font-size: 13px;
  white-space: pre;
  background: $proxicle_light_light_blue;
}
.json-markup-key {
  font-weight: bold;
}
.json-markup-bool {
  color: firebrick;
}
.json-markup-string {
  color: $proxicle_medium_green;
}
.json-markup-null {
  color: gray;
}
.json-markup-number {
  color: $proxicle_medium_blue;
}
